{% extends 'base.html.twig' %}

{% block body %}
    <h1>Регистрация покупки</h1>
    token = 
    {{ dump(token) }}
    {#{{ dump(childrenGoodSession) }}#}

    {{ form_start(form) }}
        {{ form_widget(form) }}

        <input type="text" name="mytest" value="id" /><br>

        <input type="hidden" name="back_shop" value="id" />

        <input type="submit"  value="Готово" onclick="document.bag_register.back_shop.value=false;"/>

        <input type="submit" value="Продолжить покупки" formnovalidate onclick="document.bag_register.back_shop.value=true;"/>

        {#{% if token != "qwerty" %}
            <script type="text/javascript">
                document.bag_register.mytest.value = "{{ mytest }}";
                document.getElementById('bag_register__token').value = "{{ token }}";
            </script>
        {% endif %}#}

        {#<input type="submit"  value="Готово" onclick="document.children_goods.add_new_cat.value=false;"/>
        <input type="hidden" name="add_new_cat" value="id" />
        <input type="submit" value="Вернуться за покупками" formnovalidate onclick="document.children_goods.add_new_cat.value=true;"/>#} <!-- document.children_goods.submit(); -->
    {{ form_end(form) }}



    {#<input type="text" name="mytest" value="id" /><br>

    <button value="Заменить" onclick="mytest();">Заменить</button><br>#}

    {#{% block javascripts %}
        <script type="text/javascript">
            if(window.token !="qwerty"){//(typeof token == "string"){
                document.getElementById('bag_register__token').value = "{{ token }}";
                document.bag_register.mytest.value = "{{ mytest }}";
            }
            //document.bag_register.mytest.value = "{{ mytest }}";
            //document.getElementById('bag_register_city').value = "{{ mytest }}";
        </script>
    {% endblock %}#}

    {#<ul>
        <li>
            <a href="{{ path('index_user') }}">Продолжить покупки</a>
        </li>
    </ul>#}
{% endblock %}
