{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}">
    {% stylesheets'@UserBundle/Resources/css/checkoutBag.css' 
                    filter='uglifycss' 
                    filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
        {% javascripts '@my_jquery'
                        '@UserBundle/Resources/js/goodsbasketcheck.js'
                        filter='uglifyjs2'
                        output='js/compiled/goodsbasketcheck.js' %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script> 
{% endblock %}

{% block body %}
    <div class="container">

        <div id="bascetsmall" class="bascetsmall">
            {{ render(controller('UserBundle:ajaxUser:ajaxCheckoutUser', { 'id': id, bagreg: false} )) }}
        </div>


        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 userform">
            <h4>Оформление заказа</h4>
            {{ form_start(form) }}

                <div class="input-group myinput">    
                    {{ form_errors(form.name) }}
                    <span class="input-group-addon glyphicon glyphicon-user"></span>
                    {{ form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder': "Name"}}) }}
                </div>
                <div class="input-group myinput">
                    {{ form_errors(form.city) }}
                    <span class="input-group-addon glyphicon glyphicon-home"></span>
                    {{ form_widget(form.city, {'attr': {'class': 'form-control', 'placeholder': "Город"}}) }}
                </div>
                <div class="input-group myinput">
                    {{ form_errors(form.tel) }}
                    <span class="input-group-addon glyphicon glyphicon-earphone"></span>
                    {{ form_widget(form.tel, {'attr': {'class': 'form-control', 'placeholder': "Телефон"}}) }}
                </div>
                <div class="input-group myinput">
                    {{ form_errors(form.comment) }}
                    <span class="input-group-addon  glyphicon glyphicon-comment"></span>
                    {{ form_widget(form.comment, {'attr': {'class': 'form-control', 'rows': '3', 'placeholder': 'Комментарий'}}) }}
                </div>

                <input type="hidden" name="back_shop" value="id" />

                <button type="submit" class="btn btn-success" value="Готово" onclick="document.bag_register.back_shop.value=false;">Готово</button>

                <button type="submit" class="btn btn-default inp_contin" value="Продолжить покупки" formnovalidate onclick="document.bag_register.back_shop.value=true;">Продолжить покупки</button>

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
