{% block stylesheets %}
	{% stylesheets '@UserBundle/Resources/css/show.css' filter='uglifycss' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {# <link href="{{ asset('bundles/app/childrengoods/show.css') }}" rel="stylesheet" />#}
{% endblock %}

{% if bigBagDisp == 'block' %} 
    <table class="goodsbasketfont m-cart-full">
		<tr><td colspan= "4">Ваши покупки:<td></tr>
		<tr>
			<th>{{ childrenGoods|length }}</th>
			<th>Товар</th>
			<th>Размер</th>
			<th>Цвет</th>
			<th>Цена за ед</th>
			<th>Кол-во</th>
			<th>Цена за все</th>
			<th></th>
		</tr>
		{% for childrenGood in childrenGoods %}
			{% set idtr = "idtr" ~ loop.index0 %}
			{% set idrow2 = "idrow2" ~ loop.index0 %}
			{% set idnidk = "idnidk" ~ loop.index0 %}
			{% set idrowk = "idrowk" ~ loop.index0 %}

		<tr id="{{ idtr }}">

			<td><img class="show__img" src="{{ asset('uploads/documents/' ~ pathImages[loop.index0]) }}"></td>
			<td>{{ childrenGood.title }}</td>
			<td>
				{#{% if childrenGood.childrenGoodsSizeNumber.snapshot[sizearr[loop.index0]].size.size is defined %}
					{{ childrenGood.childrenGoodsSizeNumber.snapshot[sizearr[loop.index0]].size.size }}
				{% endif %}#}
				{{ sizeTitle[loop.index0] }}
			</td>
			<td>
				{#{% if childrenGood.childrenGoodsSizeNumber.snapshot[sizearr[loop.index0]].childrenGoodsColorNumber.snapshot[colorarr[loop.index0]].color.color is defined %}
					{{ childrenGood.childrenGoodsSizeNumber.snapshot[sizearr[loop.index0]].childrenGoodsColorNumber.snapshot[colorarr[loop.index0]].color.color }}
				{% endif %}#}
				{{ colorTitle[loop.index0] }}
			</td>
			
			<td id="{{ idrow2 }}">{{ childrenGood.priceGoods.rub }}</td>
			{#<td>{{ nid[loop.index0] }}</td>#}
			
			<td id="{{ idnidk }}"><input type="number" min="1" max="99" name="numbergoods" value="{{ nid[loop.index0] }}" onchange="basketbigchange({{ childrenGood.priceGoods.rub }}, this.value, {{ loop.index0 }}, {{ childrenGoods|length }})"/></td>
			
			<td id="{{ idrowk }}">{{ priceone[loop.index0] }}</td>
			<td><img id="good_click_id" src="{{ asset('bundles/app/user/elements/delete_16x16.png')}}" onclick="goodbasketdel({{ childrenGood.id }}, {{ sizearr[loop.index0] }}, {{ colorarr[loop.index0] }}, 'true', 'ajax_checkout_user')"></td>
		</tr>		
		{% endfor %}
		<tr><td colspan= "5" id="priceall">К оплате: {{ priceall }}</td></tr>{#$prsite#}
		
	</table>
{% endif %}