<div><h3>Заказ от: {{ name }} <b>  </b><h3/><div>
<div><h3> Номер заказа: {{ order }} <b><font color='red'>  </font></b></h3><div>
<div> Телефон:  <b> {{ tel }} </b><div>
<div>  email:  <b> {{ email }} </b> <div>
<div>  Город:  <b> {{ city }} </b> <div></br>
<div><h3><b><font color='red'><i> Товар: </i></font></b></h3><div>

    {% for pricegood in pricegoods %}
        <div><font color='green'> {{ loop.index }}) <b> {{ title[loop.index0] }}, {{ sizeTitle[loop.index0] }}, {{ colorTitle[loop.index0] }}</font></b></div>
        <div> <b>  {{ nid[loop.index0] }} шт * {{ priceone[loop.index0] }} руб = {{ pricegood }} руб</b> </div>
    {% endfor %}

<div><h3><b><i> Всего к оплате: </i><font color='red'> {{ priceall }}</font> </b> руб </h3></div>

<div>Коментарий: {{ comment }}</div>