{% extends 'base.html.twig' %}

{% block stylesheets %}
    {% stylesheets 'bundles/app/childrengoods/indexUser.css' filter='uglifycss' filter='cssrewrite' %}{#@UserBundle/Resources/css/indexUser.css#}
        <link rel="stylesheet" href="{{ asset_url }}" />
    
    {% endstylesheets %}
    {#<link href="{{ asset('bundles/app/childrengoods/indexUser.css') }}" rel="stylesheet" />#} 
    {#{% javascripts '@UserBundle/Resources/js/indexUser.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
     <script src="{{ asset('bundles/app/childrengoods/indexUser.js') }}" type="text/javascript"></script>#}
{% endblock %}

{% block javascripts %}
    {#{% javascripts '@UserBundle/Resources/js/indexUser.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script src="{{ asset('bundles/app/childrengoods/indexUser.js') }}" type="text/javascript"></script>#}
{% endblock %}

{% block body %}
    {#myServiceVarAll = 
    {{ dump(myServiceVarAll) }}
    myServiceVar = 
    {{ dump(myServiceVar) }}
    <h1>childrenGoods</h1>

    {{ dump(childrenGoods[15].childrenGoodsSizeNumber.snapshot[0].childrenGoodsColorNumber.snapshot[0].image.path) }}
    {{ dump(childrenGoodsCategory[0].image.path) }}
    {{ dump(childrenGoods[0].childrenGoodsCategory.childrenGoodsSubcategory.snapshot) }}
    {{ dump(childrenGoodsCategory) }}
    {{ dump(childrenGoodsCategory[0].childrenGoodsSubcategory.snapshot) }}#}
    
    <b>Все категории</b>
    <br><br>

    {% for childrenGoodCategory in childrenGoodsCategory %}

        {#{{dump(childrenGoodCategory.image)}}#} 

        {% set imgLink = asset(sourcePath[loop.index0]) %}
        {#{% set imgLink = asset('uploads/documents/' ~ childrenGoodCategory.image.path) %}#}
        {% set idDiv = "category" ~ loop.index0 %}
        <div id='{{ idDiv }}' class="category" style="background-image: url({{ imgLink }});">
            {#<script>backgrCat('{{ idDiv }}', '{{ imgLink }}')</script>imgLink#}
            {{ childrenGoodCategory.title }}<br>
            {% for childrenGoodSubcategory in childrenGoodCategory.childrenGoodsSubcategory.snapshot %}
                <a href="{{ path('cat_sub_show', { 'children_goods_category_id': childrenGoodCategory.id , 'children_goods_subcategory_id': childrenGoodSubcategory.id }) }}">{{ childrenGoodSubcategory.title }}</a>
                <br>
                {# 'children_goods_category_id': childrenGoodCategory.id , 'children_goods_subcategory_id': childrenGoodSubcategory.id #} 
                
            {% endfor %} 
            <br>
        </div>
    {% endfor %}

    <br>
    {#<b><a href="{{ path('bag_register') }}">Купить</a></b>#}

{% endblock %}
