{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}">
    {% stylesheets '@UserBundle/Resources/css/indexUser.css' 
                    filter='uglifycss' 
                    filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {% javascripts '@my_jquery'
                    '@my_bootstrap'
                    '@UserBundle/Resources/js/indexUser.js'
                    filter='uglifyjs2'
                    output='js/compiled/index_user.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{#{% set imgLink = asset('uploads/documents/' ~ childrenGoodCategory.image.path) %}#}
{#<script>backgrCat('{{ idDiv }}', '{{ imgLink }}')</script>imgLink#}
{# 'children_goods_category_id': childrenGoodCategory.id , 'children_goods_subcategory_id': childrenGoodSubcategory.id #} 
{% block body %}
    {#{{ render_esi(controller('UserBundle:indexUser:smallBag')) }} 
    
    <b>Все категории</b>
    <br><br>

    {% for childrenGoodCategory in childrenGoodsCategory %}

        {% set imgLink = asset(sourcePath[loop.index0]) %}
        
        {% set idDiv = "category" ~ loop.index0 %}
        <div id='{{ idDiv }}' class="category" style="background-image: url({{ imgLink }});">
            
            {{ childrenGoodCategory.title }}<br>
            {% for childrenGoodSubcategory in childrenGoodCategory.childrenGoodsSubcategory.snapshot %}
                <a href="{{ path('cat_sub_show', { 'children_goods_category_id': childrenGoodCategory.id , 'children_goods_subcategory_id': childrenGoodSubcategory.id }) }}">{{ childrenGoodSubcategory.title }}</a>
                <br>
                
                
            {% endfor %} 
            <br>
        </div>
    {% endfor %}

    <br>#}

    {% block header %}
        {{ include('UserBundle::common_header.html.twig') }}
    {% endblock %}

    {{ render_esi(controller('UserBundle:indexUser:smallBag')) }} 

    {% block content %}
        <div class="content">
            <div class="container">
                <div class="slogan">
                    <h1>Заголовок</h1>
                </div> 
                <div class="bread-crumbs">Все категории</div>
                <div class="row">
                    {% set i = 0 %}
                    {% for childrenGoodCategory in childrenGoodsCategory %}
                        {% set imgLink = asset(sourcePath[loop.index0]) %}
                        {% set idDiv = "category" ~ loop.index0 %}
                        {% if i == 0 %}
                            {#<div class="card-row clearfix">#}
                        {% endif %}
                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <div class="card">
                                        <h4>{{ childrenGoodCategory.title }}</h4>
                                        <div id='{{ idDiv }}' class="category" style="background-image: url({{ imgLink }});">
                                            {% for childrenGoodSubcategory in childrenGoodCategory.childrenGoodsSubcategory.snapshot %}
                                                <a href="{{ path('cat_sub_show', { 'children_goods_category_id': childrenGoodCategory.id , 'children_goods_subcategory_id': childrenGoodSubcategory.id }) }}">{{ childrenGoodSubcategory.title }}</a>
                                                <br>  
                                            {% endfor %} 
                                            <br>
                                        </div>
                                    </div>
                                </div>
                        {% if i == 2 %}
                           {# </div> #}
                        {% endif %}
                        {% set i = i + 1 %}
                        {% if i == 3 %}
                            {% set i = 0 %}
                        {% endif %}
                    {% endfor %}
                </div>

                {% block nav %}
                    {{ include('UserBundle::common_nav.html.twig') }}
                {% endblock %}
            </div>
        </div>
    {% endblock %}

{% endblock %}

{% block footer %}
    {{ include('UserBundle::common_footer.html.twig') }}
{% endblock %}
