{% extends 'base.html.twig' %}

{% block stylesheets %}
     <link href="{{ asset('bundles/app/childrengoods/show.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    <h1>childrenGoods</h1>

    {#{{ dump(childrenGoods) }}
    {{ dump(childrenGoods[0].childrenGoodsCategory) }}
    {{ dump(childrenGoods[0].childrenGoodsCategory.childrenGoodsSubcategory.snapshot) }}
    {{ dump(childrenGoodsCategory) }}
    {{ dump(childrenGoodsCategory[0].childrenGoodsSubcategory.snapshot) }}#}
    
    <b>Все категории</b>
    <br><br>

    {% for childrenGoodCategory in childrenGoodsCategory %}
        {{ childrenGoodCategory.title }}
        {% for childrenGoodSubcategory in childrenGoodCategory.childrenGoodsSubcategory.snapshot %}
            <a href="{{ path('cat_sub_show', { 'children_goods_category_id': childrenGoodCategory.id , 'children_goods_subcategory_id': childrenGoodSubcategory.id }) }}">{{ childrenGoodSubcategory.title }}</a>
            {# 'children_goods_category_id': childrenGoodCategory.id , 'children_goods_subcategory_id': childrenGoodSubcategory.id #}
            
        {% endfor %}
        <br>
    {% endfor %}

{% endblock %}
