{% extends 'base.html.twig' %}

{% block javascripts %}
        {% javascripts '@jquery_and_ui'
                        '@UserBundle/Resources/js/goodsbasketcheck.js'
                        '@UserBundle/Resources/js/select_visible.js'
                        '@UserBundle/Resources/js/hinclude.js'
                        filter='uglifyjs2'
                        output='js/compiled/main.js'%}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {#<script src="{{ asset('bundles/app/user/jquery-3.1.1.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/app/user/goodsbasketcheck.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/app/user/select_visible.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/app/user/hinclude.js') }}" type="text/javascript"></script>#}
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script> 
{% endblock %}

{% block stylesheets %}
    {% stylesheets '@UserBundle/Resources/css/show.css' filter='uglifycss' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {# <link href="{{ asset('bundles/app/childrengoods/show.css') }}" rel="stylesheet" />#}
{% endblock %}

{% block body %}
    <h1>childrenGood
                    {#<img class="show__img" src="{{ sourceP[0] }}">
                    <img class="show__img" src="{{ sourceP[1] }}">#}
    </h1>

    {#{% for path1 in sourcePath %}
        {% for path2 in path1 %}
            <img class="" src="{{ path2 }}">
        {% endfor %}
    {% endfor %}#}

    {#{{ dump(sourcePath) }}
    {{ dump(childrenGood.childrenGoodsSizeNumber.snapshot[0].childrenGoodsColorNumber.snapshot[0].image.path) }}
    {{ dump(add_new_cat) }}#}
    {#{{ dump(childrenGood.childrenGoodsSizeNumber) }}
    {{ dump(childrenGood.childrenGoodsSizeNumber.snapshot) }}
    {{ dump(childrenGood.childrenGoodsSizeNumber.snapshot[0]) }}
    {{ dump(childrenGood.childrenGoodsSizeNumber.snapshot[0].size.size) }}
    {{ dump(childrenGood.childrenGoodsSizeNumber.snapshot[0].childrenGoodsColorNumber.snapshot) }}
    {{ dump(childrenGood.childrenGoodsSizeNumber.snapshot[0].childrenGoodsColorNumber.snapshot[0]) }}
    {{ dump(childrenGood.childrenGoodsSizeNumber.snapshot[0].childrenGoodsColorNumber.snapshot[1]) }}
    {{ dump(childrenGood.childrenGoodsSizeNumber.snapshot[0].childrenGoodsColorNumber.snapshot[0].color.color) }}
    {{ dump(childrenGood.childrenGoodsSizeNumber.snapshot[0].childrenGoodsColorNumber.snapshot[0].number) }}#}

    <b><a href="{{ path('index_user') }}">Все категории</a>-> 
    <a href="{{ path('cat_sub_show', { 'children_goods_category_id': childrenGood.childrenGoodsCategory.id , 'children_goods_subcategory_id': childrenGood.childrenGoodsSubcategory.id }) }}">{{ childrenGood.childrenGoodsCategory.title }}</a>->
    {{ childrenGood.childrenGoodsSubcategory.title }}</b>
    <br><br>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ childrenGood.id }}</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>{{ childrenGood.childrenGoodsCategory.title }}</td>
            </tr>
            <tr>
                <th>Subcategory</th>
                <td>{{ childrenGood.childrenGoodsSubcategory.title }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ childrenGood.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ childrenGood.descriptionGoods.description }}</td>
            </tr>            
            <tr>
                <th>Size</th>
                <td>
                    <select name="size" id="size" onChange="sizeSelect(this)" >
                        {% for size in childrenGood.childrenGoodsSizeNumber.snapshot %} 
                            <option value="{{ size.size.size }}">{{ size.size.size }}</option> 
                        {% endfor %}
                    </select>
                </td>
                {% for size in childrenGood.childrenGoodsSizeNumber.snapshot %}
                    <td class="table_image">
                        {% set sizeloop = loop.index0 %}
                        <select name="size.size.size" id="{{ 'color' ~ loop.index0 }}" style="display: none;" onChange="colorSelect(this)">
                            {% for color in size.childrenGoodsColorNumber.snapshot %}
                                <option value="{{ color.color.color }}">{{ color.color.color }} </option>     
                            {% endfor %}
                        </select>
                        {% for color in size.childrenGoodsColorNumber.snapshot %}
                            <div id="{{ 'image' ~ sizeloop ~ loop.index0 }}" style="display: none;">
                                <img class="" src="{{ sourcePath[sizeloop][loop.index0] }}">
                                {#{% set pathImg = asset('uploads/documents/' ~ color.image.path) %}
                                <img class="show__img" src="{{ pathImg | imagine_filter('my_thumb_show') }}">#} в наличии {{ color.number }} шт
                            </div> {# | imagine_filter('my_thumb_show')  #}
                        {% endfor %}
                    </td>
                {% endfor %}
            </tr>  
            <tr>
                <th>price</th>
                <td>{{ childrenGood.priceGoods.rub }}</td>
            </tr>
            <tr>
                <th>Position</th>
                <td>{{ childrenGood.position }}</td>
            </tr>
            <tr>
                <th>Proddatetime</th>
                <td>{% if childrenGood.prodDatetime %}{{ childrenGood.prodDatetime|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Proddatetimeupdate</th>
                <td>{% if childrenGood.prodDatetimeUpdate %}{{ childrenGood.prodDatetimeUpdate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th></th>
                <td>
                    {#{{ render_hinclude(url('ajax_bag_user')) }} render_hinclude <br>#}
                    <b><a href="#" onclick="goodbasketcheck({{ childrenGood.id }}, 'false', 'ajax_bag_user')">В корзину</a></b>
                    {#id="good_click_id" class="good_click" good-id="{{ childrenGood.id }}" mclon="false"#}
                    
                </td>
            </tr>
            <tr>
                <th></th>
                <td>
                    <b><a href="#" onclick="goodbuycheck({{ childrenGood.id }}, 'false', 'ajax_bag_user')">Купить</a></b>
                    {# href="{{ path('bag_register', {id: childrenGood.id}) }}" #}
                    <br><br> 
                    <b><a href="{{ path('ajax_bag_user', {id: childrenGood.id, size: 1, color: 1, mclon: false, route_name: 'ajax_bag_user'}) }}">Ajax отладка</a></b>
                    {#{{ global_var }} {{ myvar }}#}
                </td>
            </tr>
            
        </tbody>
    </table>

    {#<tr>
        <th></th>
        <td>#}
            <div id="bascetsmall" class="bascetsmall">
                   {# childrenGoods
                    {{ dump(childrenGoods) }}
                    nid
                    {{ dump(nid) }} #}
                    {{ render(controller(
                        'UserBundle:ajaxUser:ajaxBagUser',
                        { 'id': 0}
                    )) }}
            </div>
            {#{{ include('UserBundle::bigBag.html.twig') }}#}
        {#</td>
    </tr>#}

{% endblock %}
