{% extends 'base.html.twig' %}

{% block stylesheets %}
     <link href="{{ asset('bundles/app/childrengoods/show.css') }}" rel="stylesheet" />
     {#' childrengoods/show.css'#}
{% endblock %}

{% block body %}
    <h1>childrenGood</h1>

    {#{{ dump(childrenGood) }}
    {{ dump(childrenGood.childrenGoodsSizeNumber.snapshot[0].childrenGoodsColorNumber.snapshot[0].image.path) }}
    {{ dump(add_new_cat) }}#}
    {#{{ dump(childrenGood.childrenGoodsSizeNumber) }}
    {{ dump(childrenGood.childrenGoodsSizeNumber.snapshot) }}
    {{ dump(childrenGood.childrenGoodsSizeNumber.snapshot[0]) }}
    {{ dump(childrenGood.childrenGoodsSizeNumber.snapshot[0].size.size) }}
    {{ dump(childrenGood.childrenGoodsSizeNumber.snapshot[0].childrenGoodsColorNumber.snapshot) }}
    {{ dump(childrenGood.childrenGoodsSizeNumber.snapshot[0].childrenGoodsColorNumber.snapshot[0]) }}
    {{ dump(childrenGood.childrenGoodsSizeNumber.snapshot[0].childrenGoodsColorNumber.snapshot[1]) }}
    {{ dump(childrenGood.childrenGoodsSizeNumber.snapshot[0].childrenGoodsColorNumber.snapshot[0].color.color) }}
    {{ dump(childrenGood.childrenGoodsSizeNumber.snapshot[0].childrenGoodsColorNumber.snapshot[0].number) }}#}

    <b><a href="{{ path('index_user') }}">Все категории</a>-> 
    <a href="{{ path('cat_sub_show', { 'children_goods_category_id': childrenGood.childrenGoodsCategory.id , 'children_goods_subcategory_id': childrenGood.childrenGoodsSubcategory.id }) }}">{{ childrenGood.childrenGoodsCategory.title }}</a>->
    {{ childrenGood.childrenGoodsSubcategory.title }}</b>
    <br><br>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ childrenGood.id }}</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>{{ childrenGood.childrenGoodsCategory.title }}</td>
            </tr>
            <tr>
                <th>Subcategory</th>
                <td>{{ childrenGood.childrenGoodsSubcategory.title }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ childrenGood.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ childrenGood.descriptionGoods.description }}</td>
            </tr>
            {% for size in childrenGood.childrenGoodsSizeNumber.snapshot %}
                <tr>
                    <th>Size</th>
                    <td>
                        {{ size.size.size }} 
                    </td>
                    {% for color in size.childrenGoodsColorNumber.snapshot %}
                        <td>
                            {{ color.color.color }}: 
                            {{ color.number }} шт 
                            <img class="show__img" src="{{ asset('uploads/documents/' ~ color.image.path) }}">
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}   
            <tr>
                <th>price</th>
                <td>{{ childrenGood.priceGoods.rub }}</td>
            </tr>
            <tr>
                <th>Position</th>
                <td>{{ childrenGood.position }}</td>
            </tr>
            <tr>
                <th>Proddatetime</th>
                <td>{% if childrenGood.prodDatetime %}{{ childrenGood.prodDatetime|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Proddatetimeupdate</th>
                <td>{% if childrenGood.prodDatetimeUpdate %}{{ childrenGood.prodDatetimeUpdate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
                <th></th>
                <td>
                    <b><a href="{{ path('bag_register') }}">Купить</a></b>
                </td>
           
        </tbody>
    </table>

{% endblock %}
