{% extends 'base.html.twig' %}

{% block stylesheets %}
     <link href="{{ asset('bundles/app/childrengoods/show.css') }}" rel="stylesheet" />
     {#' childrengoods/show.css'#}
{% endblock %}

{% block body %}
    <h1>chowSubcat</h1>

    {#{{ dump(childrenGoods) }}
    {{ dump(childrenGood.childrenGoodsSizeNumber.snapshot[0].childrenGoodsColorNumber.snapshot[0].image.path) }}
    {{ dump(add_new_cat) }}#}
    {#{{ dump(childrenGood.childrenGoodsSizeNumber) }}
    {{ dump(childrenGood.childrenGoodsSizeNumber.snapshot) }}
    {{ dump(childrenGood.childrenGoodsSizeNumber.snapshot[0]) }}
    {{ dump(childrenGood.childrenGoodsSizeNumber.snapshot[0].size.size) }}
    {{ dump(childrenGood.childrenGoodsSizeNumber.snapshot[0].childrenGoodsColorNumber.snapshot) }}
    {{ dump(childrenGood.childrenGoodsSizeNumber.snapshot[0].childrenGoodsColorNumber.snapshot[0]) }}
    {{ dump(childrenGood.childrenGoodsSizeNumber.snapshot[0].childrenGoodsColorNumber.snapshot[1]) }}
    {{ dump(childrenGood.childrenGoodsSizeNumber.snapshot[0].childrenGoodsColorNumber.snapshot[0].color.color) }}
    {{ dump(childrenGood.childrenGoodsSizeNumber.snapshot[0].childrenGoodsColorNumber.snapshot[0].number) }}#}

    <b><a href="{{ path('index_user') }}">Все категории</a>->
    {{ childrenGoods[0].childrenGoodsCategory.title }}-> 
    {{ childrenGoods[0].childrenGoodsSubcategory.title }}</b>
    <br><br><br>

    {% for childrenGood in childrenGoods %}
        <b>Название:</b> <a href="{{ path('user_show', { 'id': childrenGood.id }) }}">{{ childrenGood.title }}</a>
        <br>
        <b>Описание:</b> {{ childrenGood.descriptionGoods.description }}
        <br><br>
    {% endfor %}

    <b><a href="{{ path('bag_register') }}">Купить</a></b>

{% endblock %}
