{% extends 'base.html.twig' %}

{% block stylesheets %}
    {% stylesheets '@UserBundle/Resources/css/showSubcat.css' filter='uglifycss' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {# <link href="{{ asset('bundles/app/childrengoods/showSubcat.css') }}" rel="stylesheet" />#}
    {#} <script src="{{ asset('bundles/app/childrengoods/indexUser.js') }}" type="text/javascript"></script>#}
     {#' childrengoods/show.css'#}
{% endblock %}

{% block javascripts %}
    {% javascripts '@UserBundle/Resources/js/indexUser.js' filter='uglifyjs2'
                        output='js/compiled/index_user.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
    <h1>chowSubcat</h1>
    {{ render_esi(controller('UserBundle:indexUser:smallBag')) }} {#, { 'nidAll': nidAll }#}
    {#{% include 'UserBundle::smallBag.html.twig' with {'nidAll': nidAll} %}#}

    {#{{ dump(childrenGoods) }}
    {{ dump(childrenGood.childrenGoodsSizeNumber.snapshot[0].childrenGoodsColorNumber.snapshot[0].image.path) }}
    {{ dump(add_new_cat) }}#}
    {#{{ dump(childrenGoods[1].childrenGoodsSizeNumber.snapshot[0].childrenGoodsColorNumber.snapshot[0].image.path) }} 
     {{ dump(childrenGood.childrenGoodsSizeNumber.snapshot) }}
    {{ dump(childrenGood.childrenGoodsSizeNumber.snapshot[0]) }}
    {{ dump(childrenGood.childrenGoodsSizeNumber.snapshot[0].size.size) }}
    {{ dump(childrenGood.childrenGoodsSizeNumber.snapshot[0].childrenGoodsColorNumber.snapshot) }}
    {{ dump(childrenGood.childrenGoodsSizeNumber.snapshot[0].childrenGoodsColorNumber.snapshot[0]) }}
    {{ dump(childrenGood.childrenGoodsSizeNumber.snapshot[0].childrenGoodsColorNumber.snapshot[1]) }}
    {{ dump(childrenGood.childrenGoodsSizeNumber.snapshot[0].childrenGoodsColorNumber.snapshot[0].color.color) }}
    {{ dump(childrenGood.childrenGoodsSizeNumber.snapshot[0].childrenGoodsColorNumber.snapshot[0].number) }} #}

    <b><a href="{{ path('index_user') }}">Все категории</a>->
    {{ childrenGoods[0].childrenGoodsCategory.title }}-> 
    {{ childrenGoods[0].childrenGoodsSubcategory.title }}</b>
    <br><br><br>
    {#{ dump( childrenGoods[0].childrenGoodsSizeNumber.snapshot[0].childrenGoodsColorNumber.snapshot[0].image.path) }#}

    {% for childrenGood in childrenGoods %}
        {% set imgLink = asset(sourcePath[loop.index0]) %}
        {#{% set imgLink = asset('uploads/documents/' ~ childrenGood.childrenGoodsSizeNumber.snapshot[0].childrenGoodsColorNumber.snapshot[0].image.path) %}#}
        {% set idDiv = "category" ~ loop.index0 %}
        {#{% set idImg = "idImg" ~ loop.index0 %}#}
        <div id='{{ idDiv }}' class="category" style="background-image: url({{ imgLink }});">
            <a href="{{ path('user_show', { 'id': childrenGood.id }) }}">
                <div>
                    {#<img id='{{ idImg }}' class="show__img">#}
                    {#<script>
                        backgrCat('{{ idDiv }}', '{{ imgLink }}');
                        imgCat('{{ idImg }}', '{{ imgLink }}');
                    </script>#}
                    <b>Название:</b>{{ childrenGood.title }}
                    <br>
                    <b>Описание:</b> {{ childrenGood.descriptionGoods.description }}
                </div>
            </a>
        </div>
    {% endfor %}

    <b><a href="{{ path('bag_register') }}">Купить</a></b>

{% endblock %}
