{% block stylesheets %}
    {% stylesheets '@UserBundle/Resources/css/smallBag.css' filter='uglifycss' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {% javascripts '@jquery_and_ui'
                    '@UserBundle/Resources/js/goodsbasketcheck.js'
                    filter='uglifyjs2'
                    output='js/compiled/goodsbasketcheck.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script> 
{% endblock %}

{% if nidAll > 0 %}
	<div class="goodsbasketfontmb bascetsmall">
		<img src="{{ asset('bundles/app/user/elements/delete_16x16.png')}}" class="goodsbasketclearmb" onclick="goodbasketcheck('-1', 'false', 'ajax_bag_user')" title="Очистить корзину">
		<table class="m-cart-fullmb" title="Оформить">
			<tr>
				<td><a class="a-block" href="{{ path('bag_register') }}">В корзине: {{ nidAll }} шт</a><td>
			</tr>
		</table>
	</div>
{% endif %}